@media screen and (max-width: 1120px) {

	body {font-size: 12.933px;}

	.container,
	.row {
		width: 100%;
		max-width: 1099px;
		margin: 0 auto;
	}

	.container {
		padding: 0 1em;
	}

	.container .container {
		padding: 0;
	}

}

@media screen and (max-width: 1024px) {

	.col-sm1  {width: 8.33333333%;}
	.col-sm2  {width: 16.66666666%;}
	.col-sm3  {width: 25%;}
	.col-sm4  {width: 33.33333333%;}
	.col-sm5  {width: 41.66666666%;}
	.col-sm6  {width: 50%;}
	.col-sm7  {width: 58.33333333%;}
	.col-sm8  {width: 66.66666666%;}
	.col-sm9  {width: 75%;}
	.col-sm10 {width: 83.33333333%;}
	.col-sm11 {width: 91.66666666%;}
	.col-sm12 {width: 100%;}

	.visible-md, .visible-xs {display: none !important;}
	.visible-sm {display: block !important;}
}

@media screen and (max-width: 980px) {

	body {font-size: 12px;}

	.page-banner.home .chart {
		display: none;
	}

	.page-banner.home .button,
	.page-banner.home .button-cnt {
		position: static;
	}

	.page-banner.home {
		padding-bottom: 2em;
	}

}


@media screen and (max-width: 720px) {

	.col-xs1  {width: 8.33333333%;}
	.col-xs2  {width: 16.66666666%;}
	.col-xs3  {width: 25%;}
	.col-xs4  {width: 33.33333333%;}
	.col-xs5  {width: 41.66666666%;}
	.col-xs6  {width: 50%;}
	.col-xs7  {width: 58.33333333%;}
	.col-xs8  {width: 66.66666666%;}
	.col-xs9  {width: 75%;}
	.col-xs10 {width: 83.33333333%;}
	.col-xs11 {width: 91.66666666%;}
	.col-xs12 {width: 100%;}

	.visible-md, .visible-sm {display: none !important;}
	.visible-xs {display: block !important;}

	#menu-desktop {
		display: none;
	}

	#mobile-menu-icon {
		display: inline-block;
	}

	h1 {
		font-size: 2em;
	}

	.footer-menu {
		background: #e8ebec;
		width: 100%;
	}

	.footer-menu ul {
		text-align: center;
	}

	.footer-menu ul li {
		padding: 2em 1em 2em 0;
	}

	.footer .copyright [class*="col-"] {
		text-align: center;
	}

	.form {
		padding: 0;
	}

	.pricing-table .plan {
		padding: 1em 2em;
		margin-bottom: 0;
	}

	.pricing-table .plan .cnt:after {
		right: 2.5em;
	}
}


@media screen and (max-width: 400px) {

	body {font-size: 11px;}

}

@media screen and (max-width: 320px) {

	body {font-size: 10px;}

}

@media screen and (max-width: 240px) {

	body {font-size: 9px;}

}